#areaId{
    font-size: 25px;
    font-family: serif;
    margin: 5px;

}
#title{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
    font-size: 50px;
    margin: 25px;
}
#itemslist{
    display: block;
    
    margin-left: 30px;
    
}
#total{
    display: inline-block;
    margin-left: 30px;
    background-color: coral;
}
